<div class="page-header">
  <h1>Redigera</h1>
</div>

<form ng-submit="submit()">
  <div class="form-group">
    <label for="name">Namn</label>
    <input type="text" class="form-control" id="name" placeholder="Namn" ng-model="person.Name"/>
  </div>
  <div class="form-group">
    <label for="email">E-postaddress</label>
    <input type="email" class="form-control" id="email" placeholder="Email" ng-model="person.Email"/>
  </div>
  <div class="form-group">
    <label for="info">Personlig info</label>
    <textarea class="form-control" rows="3" id="info" ng-model="person.Info"></textarea>
  </div>
  <div class="form-group">
    <h4>Saker jag kan lära ut</h4>
    <label for="skillFind">Hitta saker att lära ut</label>
    <input type="text" class="form-control" id="skillTeach" ng-keyup="keyUpTeach($event)" ng-model="teachFilter" placeholder="Börja skriv för att söka kompetens"/>
    <div ng-repeat="skill in availableSkills() | filter: { Name: teachFilter } track by skill.ID" ng-show="teachFilter.length > 0">
      <button class="btn btn-info btn-sm" type="button" ng-click="addskillToArea(skill.ID, 'teach')">
        {{ skill.Name }}
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
        <br/>
      </button>
    </div>
  </div>
  <div class="form-group">
    <label>Saker jag kan lära ut</label>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Namn</th>
          <th>Beskrivning</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="skill in person.TeachingSkills">
          <td>{{ skill.Name }}</td>
          <td>{{skill.Description }}</td>
          <td>
            <button class="btn btn-danger btn-sm" ng-click="removeskill(skill, 'teach')">Ta bort
              <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="form-group">
    <h4>Saker jag vill lära mig</h4>
    <label for="skillFind">Hitta kompetens</label>
    <input type="text" class="form-control" id="skillLearn" ng-keyup="keyUpLearn($event)" ng-model="learnFilter" placeholder="Börja skriv för att söka kompetens"/>
    <div ng-repeat="skill in availableSkills() | filter: { Name: learnFilter } track by skill.ID" ng-show="learnFilter.length > 0">
      <button class="btn btn-info btn-sm" type="button" ng-click="addskillToArea(skill.ID, 'learn')">
        {{ skill.Name }}
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
      </button>
    </div>
  </div>
  <div class="form-group">
    <label>Det här vill jag lära mig</label>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Namn</th>
          <th>Beskrivning</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="skill in person.WantedSkills">
          <td>{{ skill.Name }}</td>
          <td>{{skill.Description }}</td>
          <td>
            <button class="btn btn-danger btn-sm" ng-click="removeskill(skill, 'learn')">Ta bort
              <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <button type="button" class="btn btn-success" ng-click="save()">Spara</button>
</form>
