<div class="page-header">
  <h1>Kompetensmatchning</h1>
</div>
<div>
  <h3>Kompetenser som någon kan lära ut</h3>
  <div class="panel panel-default" ng-repeat="swt in skillsWithTeachers">
    <div class="panel-heading">
      <h3 class="panel-title">{{ swt.skill.Name }}</h3>
    </div>
    <div class="panel-body">
      <h4>Personer som kan lära ut</h4>
      <div ng-repeat="teacher in swt.teachers">
        <p>{{ teacher.Name }} <a href="#/edit/{{ teacher.Email }}">{{ teacher.Email }}</a></p>
      </div>
      <h4>Personer som vill lära sig</h4>
      <div ng-repeat="student in swt.students">
        <p>{{ student.Name }} <a href="#/edit/{{ student.Email }}">{{ student.Email }}</a></p>
      </div>
    </div>
  </div>
</div>
<div>
  <h3>Kompetenser folk vill lära sig men som saknar lärare</h3>
  <div class="panel panel-default" ng-repeat="swot in skillsWithoutTeachers">
    <div class="panel-heading">
      <h3 class="panel-title">{{ swot.skill.Name }}</h3>
    </div>
    <div class="panel-body">
      Vill lära sig
      <div ng-repeat="student in swot.students">
        <p>{{ student.Name }} <a href="#/edit/{{ student.Email }}">{{ student.Email }}</a></p>
      </div>
    </div>
  </div>
</div>
