<div class="page-header">
  <h1>Redigera</h1>
</div>

<form ng-submit="submit()">
  <div class="form-group">
    <label for="name">Namn</label>
    <input type="text" class="form-control" id="name" placeholder="Namn" ng-model="person.Name"/>
  </div>
  <div class="form-group">
    <label for="email">E-postaddress</label>
    <input type="email" class="form-control" id="email" placeholder="Email" ng-model="person.Email"/>
  </div>
  <div class="form-group">
    <label for="info">Personlig info</label>
    <textarea class="form-control" rows="3" id="info" ng-model="person.Info"></textarea>
  </div>

  <div class="container">
    <div class="row">
      <h4>Saker jag kan lära ut</h4>
      <!-- Stuff I can teach -->
      <div class="form-group col-md-5">
        <label for="tagFind">Hitta saker att lära ut</label>
        <input type="text" class="form-control" id="tagTeach" ng-keyup="keyUp($event, 'teach')" ng-model="tagName"/>
        <div ng-repeat="tag in availableTagNames() | filter:tagName">
          <button class="btn btn-info btn-sm" type="button" ng-click="addTag(tag, 'teach')">
            {{ tag }}
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            <br/>
          </button>
        </div>
      </div>
      <div class="form-group col-md-5">
        <label>Saker jag kan lära ut</label>
        <div ng-repeat="tag in person.TeachingSkills">
          <button class="btn btn-info btn-sm" type="button" ng-click="removeTag(tag, 'teach')">
            {{ tag.Name }}
            <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
          </button>
          <br/>
        </div>
      </div>

    </div>
    <div class="row">
      <h4>Saker jag vill lära mig</h4>
      <!-- Stuff I can teach -->
      <div class="form-group col-md-5">
        <label for="tagFind">Hitta kompetens</label>
        <input type="text" class="form-control" id="tagLearn" ng-keyup="keyUp($event, 'learn')" ng-model="tagName"/>
        <div ng-repeat="tag in availableTagNames() | filter:tagName">
          <button class="btn btn-info btn-sm" type="button" ng-click="addTag(tag, 'learn')">
            {{ tag }}
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
          </button>
          <br/>
        </div>
      </div>
      <div class="form-group col-md-5">
        <label>Det här vill jag lära mig</label>
        <div ng-repeat="tag in person.WantedSkills">
          <button class="btn btn-info btn-sm" type="button" ng-click="removeTag(tag, 'learn')">
            {{ tag.Name }}
            <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
          </button>
          <br/>
        </div>
      </div>

    </div>
  </div>

  <!-- <div class="form-group">
    <label for="tagFind">Hitta kompetens</label>
    <input type="text" class="form-control" id="tagFind" ng-keyup="keyUp($event)" ng-model="tagName"/>
    <div ng-repeat="tag in tags() | filter:tagName">
      <button class="btn btn-info btn-sm" type="button" ng-click="addTag(tag)">
        {{ tag }}
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
      </button>
      <br/>
    </div>
  </div>
  <div class="form-group">
    <label>Saker jag kan</label>
    <div ng-repeat="tag in person.Tags">
      <button class="btn btn-info btn-sm" type="button" ng-click="removeTag(tag)">
        {{ tag.Name }}
        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
      </button>
      <br/>
    </div>
  </div> -->
  <button type="button" class="btn btn-success" ng-click="save()">Spara</button>
</form>
