<div class="page-header">
  <h1>Alla Beamon People</h1>
</div>
<div class="row">
  <div class="col-md-6">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Namn</th>
          <th>Info</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="person in people" ng-click="editPerson(person.Id)">
          <td>{{ person.Id }}</td>
          <td>{{ person.Name }}</td>
          <td>{{ person.Info }}</td>
          <td><button class="btn btn-danger btn-xs" ng-click="deletePerson(person.Id)">x</button>
        </tr>
      </tbody>
    </table>
    <a class="btn btn-success btn-large" href="#/add">ny person</a>
  </div>
</div>
